* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(10, 138, 176, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: rgba(10, 138, 176, 255);
    color: #ffffff;
}

header h1 {
    position: relative;
    color: rgba(10, 138, 176, 255);
    border: 1px solid #73377b;
    background-color: #73377b;
    padding: 5px;
    max-width: 75%;
    left: -14px;
    border-left-width: 78px;
    font-size: 40px;
}


header>nav>.Header-Contact {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

header nav ul li {
    margin-left: 25px;
}

nav a {
    font-size: 24px;
    color: #73377b;
    font-weight: bold;
}

nav a:hover {
    color: rgb(0, 191, 255);
}

section {
    position: relative;
}

.Text-over-pic {
    position: absolute;
    color: rgba(10, 138, 176, 255);
    top: 329px;
    right: 68px;
    background-color: #73377b;
    font-size: 40px;
}

.Coding-Pic {
    width: 100%;
    height: 400px;
}



main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    grid-gap: 22px;
    color: #f0c89d;
}

main h1 {
    font-size: 40px;
    text-align: right;
    border-right-style: solid;
    border-color: white;
    padding-right: 20px;
}

p {
    font-size: 20px;
}

main>nav.Contact-me-box {
    display: grid;
    align-items: center;
}

main>nav>ul.Contact-me {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    justify-items: center;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 25px;
    position: absolute;
}

h2 {
    background-color: #73377b;
    padding: 11px;
    bottom: 717px;
    left: 3px;
}

h3 {
    background-color: #73377b;
    padding: 11px;
    left: 2px;
    bottom: 347px;
}

h4 {
    background-color: #73377b;
    padding: 11px;
    right: -4px;
    bottom: 347px;
}

h5 {
    background-color: #73377b;
    padding: 11px;
    left: 2px;
    bottom: 22px;
}

h6 {
    background-color: #73377b;
    padding: 11px;
    right: -3px;
    bottom: 22px;
}


main>.container2 {
    display: grid;
    margin-right: 17px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 20px;
    grid-template-areas:
        "Image-1 Image-1"
        "Image-1 Image-1"
        "Image-2 Image-3"
        "Image-4 Image-5";
}

.Image-1 {
    grid-area: Image-1;
    border: solid #73377b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Image-2 {
    grid-area: Image-2;
    border: solid #73377b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Image-3 {
    grid-area: Image-3;
    border: solid #73377b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Image-4 {
    grid-area: Image-4;
    border: solid #73377b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Image-5 {
    grid-area: Image-5;
    border: solid #73377b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    main h1 {
        text-align: left;
        border-style: none none solid solid;
        border-color: white;
    }

    nav a {
        font-size: 21px;
    }

    .Text-over-pic {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    main>.container2 {
        display: grid;
        margin-right: 17px;
        grid-template-columns: 312px 312px;
        grid-template-rows: 2px 300px 300px 300px;
        gap: 20px;
    }

    header h1 {
        position: relative;
        color: rgba(10, 138, 176, 255);
        border: 1px solid #73377b;
        background-color: #73377b;
        padding: 5px;
        max-width: 75%;
        left: -75px;
        border-left-width: 78px;
        font-size: 32px;
    }

    header>nav>.Header-Contact {
        display: flex;
        list-style: inside;
        margin-right: -98px;
        text-align: center;
        flex-direction: column;
    }

    .Coding-Pic {
        width: 666px;
    }

    .Text-over-pic {
        display: none;
    }

    h2 {
        background-color: #73377b;
        padding: 11px;
        bottom: 647px;
        left: 3px;
    }
}